doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="style.css", data-inline)
  body
    div.emailBody(style={"width": "100%"})

      div.welcome
        div.welcomeHeader
          h1 Welcome to betFluent
          p Sports betting made easy

        h2 Let's get started

        div.confirmEmail
          p Click the button below to confirm your email address. This is how we keep you up-to-date with your sports wagers.
          a(href=`https://www.betfluent.com/account/verify-email#${emailCode}`) Confirm Email

        div.thinDivider

        h2 Next Steps

        div.welcomeContent
          div.floatLeft
            img(class="icon" src="https://firebasestorage.googleapis.com/v0/b/betfluent-prod.appspot.com/o/emails%2FAddMoney.png?alt=media&token=9923d643-035a-4c3e-a78b-8eb265a25b18" width="100%" alt="Deposit")
          div.floatRight
            h3 Add Money
            p Add money to your account and start wagering today.
          div.clear

        div.welcomeContent
          div.floatLeft
            img(class="icon" src="https://firebasestorage.googleapis.com/v0/b/betfluent-prod.appspot.com/o/emails%2Fbrowse-lobby.png?alt=media&token=16df22f8-d40b-4755-8408-1f076eb72b90" width="100%" alt="Browse Lobby")
          div.floatRight
            h3 Choose a Pool
            p Explore the lobby and choose a sport themed pool to have some skin in the game.
          div.clear


        div.thinDivider

        div.socialMedia
          a(href="https://www.instagram.com/betfluent/")
            img(src="https://firebasestorage.googleapis.com/v0/b/betfluent-prod.appspot.com/o/emails%2FinsLogo.png?alt=media&token=5a72e26a-b24e-4986-857e-90f8de2b69b3" alt="Instagram")

          p Sent from betFluent HQ
