doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="style.css", data-inline)
  body
    div.emailBody(style={"width": "100%"})

      div.welcome
        div.welcomeHeader
          h1 Welcome to betFluent

        h2 Let's get started

        div.confirmEmail
          p Click the button below to confirm your email address. This is how we keep you up-to-date with your sports wagers.
          a(href=`https://${siteUrl}/account/verify-email#${emailCode}`) Confirm Email

        div.thinDivider

        div.socialMedia
          a(href="https://www.instagram.com/betfluent/")
            img(src="https://firebasestorage.googleapis.com/v0/b/betfluent-prod.appspot.com/o/emails%2FinsLogo.png?alt=media&token=5a72e26a-b24e-4986-857e-90f8de2b69b3" alt="Instagram")

          p Sent from betFluent HQ
